img{
    display: block;
    margin:auto;
}/*body{
    background-image: url("octopus.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}*/